<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417814953045-3a3nrhu1ldj94p07kgtpa7brbv1ab4ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417814953045-3a3nrhu1ldj94p07kgtpa7brbv1ab4ik</string>
	<key>API_KEY</key>
	<string>AIzaSyCqqMaz9nbCz57GbKgdwdct_Q29lP9I81Q</string>
	<key>GCM_SENDER_ID</key>
	<string>417814953045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-d0fee</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-d0fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417814953045:ios:bc0f133cfa092e064328dc</string>
</dict>
</plist>